* {
  box-sizing: border-box;
}

body {
  font-family: "century gothic";
}

header {
  background-color: #2F4F4F;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: white;
  
}
 li {
   float: center
   width: 100%;
   height: 20px; 
   background: #C0C0C0;
  padding: 25px;
}

ul {
  list-style-type: none; 
  background-color: #C0C0C0;
  padding: 0;
}

section:after {
  content: "";
  display: table;
  clear: both;
  background-color: #2F4F4F;
}

footer {
  background-color: #C0C0C0;
  padding: 20px;
  text-align: center;
  color: #2F4F4F;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
</head>
<body>
